@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --ff-primary: 'Poppins', sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --clr-red-primary: hsl(0, 100%, 74%);
  --clr-green-primary: hsl(154, 59%, 51%);
  --clr-black-primary: rgb(0, 0, 0);
  --clr-white-primary: rgb(255, 255, 255);
  --clr-blue-accent: hsl(248, 32%, 49%);
  --clr-darkblue-neutral: hsl(249, 10%, 26%);
  --clr-grayishblue-neutral: hsl(246, 25%, 77%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-primary);
  min-height: 100vh;
  background: url('./images/bg-intro-mobile.png') no-repeat center;
  background-color: var(--clr-red-primary);
}

input, button {
  font-family: var(--ff-primary);
}

body, button {
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.container header {
  margin-bottom: 5rem;
}

.title-primary {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--clr-white-primary);
}

.title-neutral {
  font-size: 1.7rem;
  font-weight: var(--fw-regular);
  color: var(--clr-white-primary);
  opacity: .9;
}

.content > section {
  margin-bottom: 3rem;
}

.content > section button {
  position: relative;

  width: 100%;

  background: var(--clr-blue-accent);
  color: var(--clr-white-primary);

  border: none;
  border-radius: 10px;
  padding: 2rem;

}

.content > section button::after {
  position: absolute;
  content: '';
  width: 100%;
  bottom: -8px;
  left: 0;
  height: 25px;
  background:var(--clr-black-primary);
  opacity: .2;
  z-index: -1;
  border-radius: 10px;
}

.content > section button span {
  font-weight: var(--fw-bold);
}

.content > section button p {
  font-weight: var(--fw-regular);
}

.form-container form {
  position: relative;
  display: flex;
  flex-direction: column;

  background: var(--clr-white-primary);
  padding: 2.5rem;
  border-radius: 10px;
}

.form-container form div {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--clr-grayishblue-neutral);
}

.form-container form div img {
  display: none;
  opacity: 0;
}

.form-container form div.error {
  border: 1px solid var(--clr-red-primary);
}

.form-container form div.error img {
  display: inline-block;
  opacity: 1;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 1rem;
}

.form-container form div ~ small {
  display: block;
  visibility: hidden;
  opacity: 0;
}

.form-container form div ~ small.error {
  display: block;
  visibility: visible;
  opacity: 1;
  text-align: right;
  margin: .5rem 0 1rem;
  font-size: 1.2rem;
  color: var(--clr-red-primary);
  font-style: italic;
  font-weight: var(--fw-semibold);
}

.form-container form div input {
  flex: 1;
  padding: 1.5rem;
  border: none;
  background: transparent;
  font-weight: var(--fw-semibold);
}

.form-container form input:focus::placeholder {
  opacity: 0;
}

.form-container form input::placeholder {
  color: var(--clr-darkblue-neutral);
  font-weight: var(--fw-bold);
  opacity: .7;
}

.form-container form button {
  margin: 1.5rem 0;

  text-transform: uppercase;
  background: var(--clr-green-primary);
  color: var(--clr-white-primary);
  font-weight: var(--fw-medium);
  letter-spacing: 2px;

  padding: 1.5rem;
  border: none;
  border-radius: 5px;
}

.form-container form .text-small,
.container header,
.content > section button {
  text-align: center;
}

.form-container form .text-small {
  display: block;
  visibility: visible;
  opacity: 1;
  color: var(--clr-grayishblue-neutral);
  font-size: 1.1rem;
  font-weight: var(--fw-medium);
  line-height: 1.9;
}

.form-container form .text-small a {
  font-weight: var(--fw-bold);
  color: var(--clr-red-primary);
  text-decoration: none;
}

@media (min-width: 1440px) {
  body {
    background: url('./images/bg-intro-desktop.png') no-repeat center var(--clr-red-primary);
  }

  .container {
    width: 100vw;
    max-width: 1440px;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  header {
    width: 50%;
    max-width: 600px;
  }

  .title-primary {
    font-size: 5rem;
    width: 16ch;
    line-height: 1.2;
  }

  .title-primary,
  .title-neutral,
  .form-container form .text-small {
    text-align: left;
  }

  .content {
    width: 40%;
  }

  .form-container form {
    padding: 4rem;
  }

  .form-container form div input {
    padding: 2rem;
  }

  .form-container form div.error img {
    width: 25px;
    height: 25px;
    right: 2.5rem;
  }

  .content > section button br,
  .form-container form .text-small br {
    display: none;
  }

  .form-container form::after {
    position: absolute;
    content: '';
    width: 100%;
    bottom: -8px;
    left: 0;
    height: 25px;
    background:var(--clr-black-primary);
    opacity: .2;
    z-index: -1;
    border-radius: 10px;
  }

}