@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --ff-primary: 'Poppins', sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --clr-red-primary: hsl(0, 100%, 74%);
  --clr-green-primary: hsl(154, 59%, 51%);
  --clr-black-primary: rgb(0, 0, 0);
  --clr-white-primary: rgb(255, 255, 255);
  --clr-blue-accent: hsl(248, 32%, 49%);
  --clr-darkblue-neutral: hsl(249, 10%, 26%);
  --clr-grayishblue-neutral: hsl(246, 25%, 77%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-primary);
  min-height: 100vh;
  background: url('./images/bg-intro-mobile.png') no-repeat center;
  background-color: var(--clr-red-primary);
}

input, button {
  font-family: var(--ff-primary);
}

button {
  cursor: pointer;
  
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 40px 20px;
}

.container header {
  text-align: center;
  margin-bottom: 5rem;
}

.title-primary {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--clr-white-primary);
}

.title-neutral {
  font-size: 1.7rem;
  font-weight: var(--fw-regular);
  color: var(--clr-white-primary);
  opacity: .9;
}

.container > section {
  margin-bottom: 30px;
}

.container > section button {
  position: relative;

  width: 100%;

  font-size: 1.6rem;
  text-align: center;

  background: var(--clr-blue-accent);
  color: var(--clr-white-primary);

  border: none;
  border-radius: 10px;
  padding: 20px;

}

.container > section button::after {
  position: absolute;
  content: '';
  width: 100%;
  bottom: -8px;
  left: 0;
  height: 25px;
  background:var(--clr-black-primary);
  opacity: .2;
  z-index: -1;
  border-radius: 10px;
}

.container > section button span {
  font-weight: var(--fw-bold);
}

.container > section button p {
  font-weight: var(--fw-regular);
}

.form-container form {
  display: flex;
  flex-direction: column;

  background: var(--clr-white-primary);
  padding: 25px;
  border-radius: 10px;
}

.form-container form input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--clr-grayishblue-neutral);
}

.form-container form input + input {
  margin-top: 15px;
}

.form-container form input:focus::placeholder {
  opacity: 0;
}

.form-container form input::placeholder {
  color: var(--clr-darkblue-neutral);
  font-weight: var(--fw-bold);
  opacity: .7;
}

.form-container form button {
  margin: 15px 0;

  text-transform: uppercase;
  background: var(--clr-green-primary);
  color: var(--clr-white-primary);
  font-weight: var(--fw-medium);
  letter-spacing: 2px;

  padding: 15px;
  border: none;
  border-radius: 5px;
}

.form-container form small {
  text-align: center;
  color: var(--clr-grayishblue-neutral);
  font-size: 1.1rem;
  font-weight: var(--fw-medium);
  line-height: 1.9;
}

.form-container form small a {
  font-weight: var(--fw-bold);
  color: var(--clr-red-primary);
  text-decoration: none;
}